@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@model Gallery_Art_System.Models.User

<div class="container">
    <form asp-action="Create" asp-controller="User" method="post" enctype="multipart/form-data">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2 style="color:black">Add User</h2>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-primary" asp-controller="User" asp-action="Index">
                        Back
                        <i class='fas'>&#xf3e5;</i>
                    </a>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save </button>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="row mb-3">
            <div class="col">
                <label asp-for="Username" class="form-label fw-bold"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="FullName" class="form-label fw-bold"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Password" class="form-label fw-bold"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label asp-for="Address" class="form-label fw-bold"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Email" class="form-label fw-bold"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Phone" class="form-label fw-bold"></label>
                <input asp-for="Phone" class="form-control" required pattern="[0-9]{10}" title="Vui lòng nhập số điện thoại hợp lệ (10 chữ số)" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label asp-for="Age" class="form-label fw-bold"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Gender" class="form-label fw-bold"></label>
                <select asp-for="Gender" class="form-select">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="">
            <label asp-for="Avatar" class="form-label fw-bold">Avatar</label>
            <input asp-for="Avatar" />
            <button type="button" id="btnBrowse">Avatar</button>
            <div>
                <img src="" id="PictureView" width="100px" />
            </div> <span asp-validation-for="Avatar" class="text-danger"></span>
        </div>

        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-primary" asp-controller="User" asp-action="Index">
                        Back
                        <i class='fas'>&#xf3e5;</i>
                    </a>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save </button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/elfinder/js/elfinder.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#btnBrowse') != undefined) {
                $('#btnBrowse').click(function () {
                    var fm = $('<div id="elfinder" />').dialogelfinder({
                        url: '/quan-ly-tep-tin/connector',
                        baseUrl: "/elfinder/",
                        width: 840,
                        height: 450,
                        destroyOnClose: true,
                        title: 'Quản lý tệp tin',
                        getFileCallback: function (files, fm) {
                            $('#Avatar').val('/' + files[0].path);
                            $('#PictureView').attr('src', '/' + files[0].path);
                        },
                        commandsOptions: {
                            getfile: {
                                multiple: true,
                                oncomplete: 'close',
                                folders: false
                            }
                        }
                    }).dialogelfinder('instance');
                })
            }
        });
    </script>

}


