@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@model Gallery_Art_System.Models.Contact
<div class="container">
    <form asp-action="Create" asp-controller="Contact" method="post" enctype="multipart/form-data">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2 style="color:black">Add Contact</h2>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-primary" asp-controller="Contact" asp-action="Index">
                        Back
                        <i class='fas'>&#xf3e5;</i>
                    </a>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="" class="form-label fw-bold">Name</label>
                <input type="text" class="form-control" asp-for="Name" required
                       oninvalid="this.setCustomValidity('Vui lòng nhập tên')"
                       oninput="this.setCustomValidity('')">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col">
                <label for="" class="form-label fw-bold">Email</label>
                <input type="email" class="form-control" asp-for="Email" required
                       oninvalid="this.setCustomValidity('Vui lòng email')"
                       oninput="this.setCustomValidity('')">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label fw-bold">Chủ đề</label>
                <input type="text" class="form-control" asp-for="Subject">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label fw-bold">Nội dung tin nhắn</label>
                <textarea asp-for="Message" class="form-control" rows="4"></textarea>
            </div>
        </div>
        <!-- Nút gửi -->
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2 style="color:black"></h2>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">
                        Back
                        <i class='fas'>&#xf3e5;</i>
                    </a>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save </button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/elfinder/js/elfinder.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Khởi tạo CKEditor cho textarea Description
            if ($('#Message').length > 0) {
                CKEDITOR.replace('Message', {
                    language: 'vi',
                    removePlugins: 'sourcearea', // nếu muốn bỏ nút source
                });
            }

            // elFinder browse button
            if ($('#btnBrowse').length > 0) {
                $('#btnBrowse').click(function () {
                    var fm = $('<div id="elfinder" />').dialogelfinder({
                        url: '/quan-ly-tep-tin/connector',
                        baseUrl: "/elfinder/",
                        width: 840,
                        height: 450,
                        destroyOnClose: true,
                        title: 'Quản lý tệp tin',
                        getFileCallback: function (files, fm) {
                            $('#Image').val('/' + files[0].path);
                            $('#PictureView').attr('src', '/' + files[0].path);
                        },
                        commandsOptions: {
                            getfile: {
                                multiple: true,
                                oncomplete: 'close',
                                folders: false
                            }
                        }
                    }).dialogelfinder('instance');
                });
            }
        });
    </script>
}





