.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}
/* ====== Container chính ====== */

.container .auth-page {
    gap: 50px;
    max-width: 1100px;
    width: 100%;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.06);
}
/* ====== Cột form ====== */

.auth-page-section {
    background: #F7F6EC;
    flex: 1;
    max-width: 48%;
    border: 1px solid #e0e0e0;
    padding: 20px;
    display: block;
    margin: 0 auto;
}
/* ====== Tiêu đề ====== */

.auth-page-title {
    font-size: 30px;
    font-weight: bold;
    color: #111;
    border-bottom: 2px solid #111;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: center;
}
/* ====== Nhãn và input ====== */

.auth-page-label {
    display: block;
    margin-top: 15px;
    width: 60%;
    font-size: 18px;
    font-weight: 500;
    color: #222;
}

.auth-page-input {
    width: 90%;
    padding: 15px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s ease;
    background-color: #fff;
}

    .auth-page-input:focus {
        border-color: #000;
        outline: none;
    }
/* ====== Nút bấm ====== */

.auth-page-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 12px 26px;
    margin-top: 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
}

    .auth-page-btn:hover {
        background-color: #333;
    }
/* ====== Footer nhỏ trong form ====== */

.auth-page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.auth-page-forgot {
    color: #333;
    font-size: 13px;
    text-decoration: underline;
}
/* ====== Notes ====== */

.auth-page-note {
    color: #555;
    font-size: 13px;
    margin-bottom: 10px;
}

.auth-page-note-inline {
    color: #777;
    font-style: italic;
}
/* ====== Hàng 2 cột ====== */

.auth-page-row {
    display: flex;
    gap: 10px;
    width: 95%;
}

.auth-page-col {
    flex: 1;
}
/* ====== Input điện thoại ====== */

.auth-page-phone {
    display: flex;
    align-items: center;
    gap: 5px;
}
/* ====== Responsive ====== */

@media (max-width: 768px) {
    .auth-page-container {
        flex-direction: column;
        padding: 30px 20px;
    }

    .auth-page-section {
        max-width: 100%;
    }
}

.auth-page-signin a {
    text-align: center;
    color: blue;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.auth-page-create a {
    text-align: center;
    color: #1877f2;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}