@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpCTA

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div>
    @{
        var username = httpCTA.HttpContext.Session.GetString("hoten");
    }
    @if (!string.IsNullOrEmpty(username))
    {
        <h1 style="text-align:center;color:black;font-weight:bolder;font-family:Sans Serif">
            Xin chào @username
        </h1>
    }
</div>