@{
    ViewData["Title"] = "About Us";
}

<!-- Banner -->
<div class="banner-ex">
    <h1>About Us</h1>
    <p><a href="/">Home</a> / <a asp-controller="Home" asp-action="About">About Us</a></p>
</div>

<!-- Giới thiệu bảo tàng -->
<!-- Ảnh nền đen (banner phụ) -->
<section class="about-banner-dark">
    <div class="overlay">
        <div class="banner-text">
            <h2>Welcome To DTN Gallery</h2>
            <p>
                Not only the outstanding quality of the collection, but also our high level of activity
                in the areas of research, exhibitions and education guarantee the Ozeum prominent
                position in the international museum landscape.
            </p>
            <a href="index" class="learn-more-btn">
                More About <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>

<!-- Staff -->
<section class="our-staff">
    <div class="container">
        <div class="section-header">
            <h2>Our Staff</h2>
            <a href="#" class="view-all">View All Staff <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="staff-grid">
            <!-- Staff 1 -->
            <div class="staff-item">
                <div class="staff-img">
                    <img src="/images/nhungbeo.jpg" alt="Duong Thi Hong Nhung" />
                    <div class="staff-overlay">                 
                        <a href="https://web.facebook.com/anh.duong.492821" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                </div>
                <h4>Duong Thi Hong Nhung</h4>
                <p>C2308G1</p>
            </div>
            <!-- Staff 3 -->
            <div class="staff-item">
                <div class="staff-img">
                    <img src="/images/duongg.jpg" alt="Tran Tung Duong" />
                    <div class="staff-overlay">
                        <a href="https://web.facebook.com/duongdeptraikhoaito" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                </div>
                <h4>Tran Tung Duong</h4>
                <p>C2308G1</p>
                </div>
            <!-- Staff 2 -->
            <div class="staff-item">
                <div class="staff-img">
                    <img src="/images/thaoo.jpg" alt="Tran Thi Bach Thao" />
                    <div class="staff-overlay">
                        <a href="https://web.facebook.com/vocuaj.m" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                </div>
                <h4>Tran Thi Bach Thao</h4>
                <p>C2308G1</p>
            </div>   
        </div>
    </div>
</section>



